<dev-tabview [selectFirst]="true">
  <dev-tab header="Tab 1">
    Hello I am Tab 1
  </dev-tab>
  <dev-tab header="Tab 2">
    Hello I am Tab 2 :)
  </dev-tab>
  <dev-tab header="Tab 3">
    <ng-template #content>
      Hello I am Tab 3 and I have been Lazy Loaded!
    </ng-template>
  </dev-tab>
  <dev-tab>
    <ng-template #header>
      I am a Template Header!
    </ng-template>

    <ng-template #content>
      Hello I am a new Tab and my Header is defined inside a Template!
    </ng-template>
  </dev-tab>
</dev-tabview>
